.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
out/
lib/
src/language/generated/
coverage/
.tsbuildinfo/
.scannerwork
sonar-report.xml
*.vsix
*.tgz
spec/
