.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
/out/
/packages/*/lib/
/packages/*/vscode/lib/
/packages/*/out/
/packages/*/.tsbuildinfo/
/packages/*/tsconfig.tsbuildinfo
coverage/
site/
.scannerwork
sonar-report.xml
*.vsix
*.tgz
spec/
packages/xsmp-vscode/docs/